.search {
  width: 100vw;
  height: 50vh;
  margin-top: 0px;
  padding: 50px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.search1 {
  width: 100vw;
  height: 50vh;
  padding: 50px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none !important;
  color: white;
}



.tests_categories {
  width: 100vw;
  color: white;
  height: 300px;
  background:#3e3e3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.click_me {
  text-decoration: none;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 25px;
  background: #414a4c;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: 2px solid #3333;
  transition: 0.5s;
}

.click_me:hover {
  color: white !important;
  border-color: #414a4c;
}