* {
  font-family: "Comic Sans MS", cursive, sans-serif
}

.search {
  width: 100vw;
  height: 50vh;
  margin-top: 0px;
  padding: 50px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.search1 {
  width: 100vw;
  height: 50vh;
  padding: 50px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none !important;
  color: white;
}

.home_content {
  display: flex;
  height: 100vh;
}

.container_2 {
  width: 50%;
}

.container_1 {
  width: 50%;
  color: white;
  background: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

@media(max-width: 800px) {
  .container_2 {
    width: 0px;
  }
  .container_1 {
    width: 100%;
  }
}