.navbar {
  width: 100vw;
  padding: 0px;
  color: white;
  position: fixed;
  margin-left: 0px;
  background: #333333;
  transition: 0.5s;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navbar a {
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}

.navbar_content {
  margin-left: -250px;
  transition: 0.5s;
  position: fixed;
  top: 0px;
  height: 100vh;
  background: #3b444b;
  width: 250px;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.navbar_content a {
  color: white;
  padding: 20px;
  padding-right: 0px;
  width: 250px;
  text-decoration: none;
  transition: 0.5s;
  border-bottom: 1px solid #3b444b;
}

.navbar_content a:hover {
  border-color: white;
  cursor: pointer;
}

.navbar_content .header {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  width: 250px;
  text-align: center;
}

#rotate-text {
  width: 25px;
  transform: rotate(360deg);
}

.web_link {
  color: white !important;
  transition: 0.5s;
}

.web_link:hover {
  background: gray;
}

@media(max-width: 500px) {
 .navbar_web {
   display: none;
 }
}
