.test {
  background: #20639b;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.5s;
}

.test h2 {
  padding: 40px;
  color: white;
}

.test h2:hover {
  color: black;
}

.test:hover {
  color: white !important;
  background: #f6d55c;
}